@import "tailwindcss";

body {
  background-color: FFF8F5;
}

.mycontainer {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.hide-scrollbar {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
